@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
:root{
    --color-orange:#fa9c21;
    --color-rose:#ff006e;
    --color-white:#FFF;
    --color-pink:#8338ec;
    --color-cyan:#3a86ff;
    --color-yellow:#ffc300;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-orange);
    border-radius: 7px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-pink);
  }